---
// src/components/ThreeCanvas.astro
---

<canvas id="bg"></canvas>

<div id="crosshair-container">
    <div class="crosshair-dot"></div>
    <div class="crosshair-bracket top-left"></div>
    <div class="crosshair-bracket top-right"></div>
    <div class="crosshair-bracket bottom-left"></div>
    <div class="crosshair-bracket bottom-right"></div>
</div>

<script>
    import "../scripts/three-experience.js";
</script>